:root{
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey: #808080;
    --off-white: #e7e7e7;
    --cart-blue: #5252eb;
    --wishlist-red: #d84848;
}

*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;    
    background-color: var(--clr-white);
    box-shadow: 0 3px 5px -3px var(--clr-black);
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-bar-logo{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.nav-bar-buttons{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}

.login{
    width: fit-content;
    padding: 0 1rem;
    background-color: var(--clr-grey);
    border: none;
    border-radius: 2rem;
    color: var(--clr-white);
}

.nav-bar-icon {
    font-size: 1.5rem;
    color: var(--clr-black);
}
