@import url(/global-styles.css);

.main {
    background-color: var(--off-white);
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "main-products"
        "main-large-info";
}

.main-products{
    display: flex;
    margin: 3rem;
    gap: 2rem;
}

.card-text-overlay{
    width:fit-content;
    height: fit-content;
    position: relative;
    opacity: 0.9;
}

.text-overlay{
    position: absolute;
    top: 4rem;
    background-color: var(--clr-white);
    width: 18rem;
    text-align: center;
    color: var(--clr-grey);
}

.main-large-info{
    margin: 0 3rem; 
    justify-self: center;
    position: relative;
    
}
.main-large-info img{
    object-fit: cover;
    opacity: 0.5;
}

.show-products{
    position: absolute;
    width: fit-content;
    padding: 1rem;
    right: 40%;
    top: 40%;
    background-color: var(--clr-grey);
    border: none;
    border-radius: 2rem;
    color: var(--clr-white);
}

.show-products:hover{
    background-color: var(--clr-white);
    color: var(--clr-grey);
}